<div class="landingPage">
    <div class="jumbotron slide1">
        <div class="row">
            <div class="col-md-4">
            	<i class="fa fa-cogs"></i>
            </div>
            <div class="col-md-8">
                <h1>Keep your services up-to-date </h1>
                <p>Smart people will do it :)</p>
            </div>
        </div>
    </div>
    <br/>
    <div class="jumbotron slide2">
    <div class="row">
            <div class="col-md-4">
            	<i class="fa fa-user-plus"></i>
            </div>
            <div class="col-md-8">
                <h1>Give some info about you</h1>
        <p>We will deliver feature updates to your pocket !</p>
        <p><a class="btn btn-primary btn-lg" href="/#signup" role="button">Register --></a></p>
            </div>
        </div>
        
    </div>
</div>
