<div class="alert-box"></div>
<h1>Profile</h1>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Complete your profile <small>It's free!</small></h3>
            </div>
            <div class="panel-body">
                <form role="form" class="signup-form register-form">
                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control input-sm" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" name="location" id="location" class="form-control input-sm" placeholder="Location">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" id="location" class="form-control input-sm" placeholder="email">
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" id="phone" class="form-control input-sm" placeholder="Phone number">
                    </div>
                    <div class="form-group">
                        <input type="text" name="userCount" id="userCount" class="form-control input-sm" placeholder="User count">
                    </div>
                    <div class="form-group">
                    Feature Enabled: 
                        <div class="radio">
                            <label>
                                <input type="radio" name="featureEnabled" id="optionsRadios1" value="option1" > yes
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="featureEnabled" id="optionsRadios2" value="option2" > No
                            </label>
                        </div>
                    </div>
                    <input type="button" value="Register" class="btn btn-info btn-block register">
                </form>
            </div>
        </div>
    </div>
</div>
