	<div class="alert-box"></div>
	<h1>Signup</h1>
        <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-12">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Sign up and complete profile <small>It's free!</small></h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" class="signup-form">
			    		

			    			<div class="form-group">
			    				<input type="text" name="name" id="name" class="form-control input-sm" placeholder="User name">
			    			</div>
			    			<div class="form-group">
			    				<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
			    			</div>

			    			
			    			<input type="button" value="Register" class="btn btn-info btn-block signup">
			    		
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
