<div class="container">
	<h1> Create Connection </h1>
    <div class="row container">
    	<input type="text" placeholder="give a name" class="connectionName"/>
    	<br/>
        <span class="area-view col-md-4"></span>
        <span class="device-view col-md-4"></span>
        <span class="state-view col-md-4"></span>
        <input type="button" class="addConnection btn btn-primary" value="Add" />
    </div>
    <br/>
    <div class="row">
	<h1> Connection List </h1>

    	<div class="connection-view"></div>
    </div>
</div>
