@charset "UTF-8";

@font-face {
  font-family: "atlantic-icons";
  src:url("fonts/atlantic-icons.eot");
  src:url("fonts/atlantic-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/atlantic-icons.woff") format("woff"),
    url("fonts/atlantic-icons.ttf") format("truetype"),
    url("fonts/atlantic-icons.svg#atlantic-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "atlantic-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "atlantic-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-4-way-nav:before {
  content: "a";
}
.icon-ac-power:before {
  content: "b";
}
.icon-account:before {
  content: "c";
}
.icon-acessibility:before {
  content: "d";
}
.icon-active-speaker:before {
  content: "e";
}
.icon-active-speaker-cross:before {
  content: "f";
}
.icon-activities:before {
  content: "g";
}
.icon-add:before {
  content: "h";
}
.icon-add-contact:before {
  content: "i";
}
.icon-add-contain:before {
  content: "j";
}
.icon-add-outline:before {
  content: "k";
}
.icon-admin:before {
  content: "l";
}
.icon-alarm:before {
  content: "m";
}
.icon-alerting:before {
  content: "n";
}
.icon-analysis:before {
  content: "o";
}
.icon-android-home:before {
  content: "p";
}
.icon-animation:before {
  content: "q";
}
.icon-annotation:before {
  content: "r";
}
.icon-applause:before {
  content: "s";
}
.icon-application:before {
  content: "t";
}
.icon-applications:before {
  content: "u";
}
.icon-arrow-left-tail:before {
  content: "v";
}
.icon-arrow-right-tail:before {
  content: "w";
}
.icon-at:before {
  content: "x";
}
.icon-at-contain:before {
  content: "y";
}
.icon-attachment:before {
  content: "z";
}
.icon-audio-broadcast:before {
  content: "A";
}
.icon-audio-min:before {
  content: "B";
}
.icon-audio-plus:before {
  content: "C";
}
.icon-audio-settings:before {
  content: "D";
}
.icon-aux-camera:before {
  content: "E";
}
.icon-back:before {
  content: "F";
}
.icon-backup-data:before {
  content: "G";
}
.icon-battery:before {
  content: "H";
}
.icon-bell:before {
  content: "I";
}
.icon-bell-cross:before {
  content: "J";
}
.icon-blocked:before {
  content: "K";
}
.icon-bluetooth:before {
  content: "L";
}
.icon-bluetooth-contain-cross:before {
  content: "M";
}
.icon-bluetooth-contained:before {
  content: "N";
}
.icon-bluetooth-outline:before {
  content: "O";
}
.icon-bookmark:before {
  content: "P";
}
.icon-brightness:before {
  content: "Q";
}
.icon-broadcast-message:before {
  content: "R";
}
.icon-broken-image:before {
  content: "S";
}
.icon-browser:before {
  content: "T";
}
.icon-bug:before {
  content: "U";
}
.icon-call-forward-divert:before {
  content: "V";
}
.icon-call-handling:before {
  content: "W";
}
.icon-call-log:before {
  content: "X";
}
.icon-call-rate:before {
  content: "Y";
}
.icon-callback:before {
  content: "Z";
}
.icon-camera:before {
  content: "0";
}
.icon-certified:before {
  content: "1";
}
.icon-chapters:before {
  content: "2";
}
.icon-charging:before {
  content: "3";
}
.icon-chats:before {
  content: "4";
}
.icon-check:before {
  content: "5";
}
.icon-cisco:before {
  content: "6";
}
.icon-clock:before {
  content: "7";
}
.icon-close-keyboard:before {
  content: "8";
}
.icon-cloud:before {
  content: "9";
}
.icon-cog:before {
  content: "!";
}
.icon-comment:before {
  content: "\"";
}
.icon-community:before {
  content: "#";
}
.icon-compass:before {
  content: "$";
}
.icon-computer:before {
  content: "%";
}
.icon-conference:before {
  content: "&";
}
.icon-contact:before {
  content: "'";
}
.icon-contact-card:before {
  content: "(";
}
.icon-create-page:before {
  content: ")";
}
.icon-data-usage:before {
  content: "*";
}
.icon-day:before {
  content: "+";
}
.icon-dc-power:before {
  content: ",";
}
.icon-default-app:before {
  content: "-";
}
.icon-delete:before {
  content: ".";
}
.icon-desk-phone:before {
  content: "/";
}
.icon-diagnostics:before {
  content: ":";
}
.icon-dial:before {
  content: ";";
}
.icon-directory:before {
  content: "<";
}
.icon-disc:before {
  content: "=";
}
.icon-disc-not-connected:before {
  content: ">";
}
.icon-display:before {
  content: "?";
}
.icon-dms:before {
  content: "@";
}
.icon-document:before {
  content: "[";
}
.icon-document-camera:before {
  content: "]";
}
.icon-document-camera-cross:before {
  content: "^";
}
.icon-download:before {
  content: "_";
}
.icon-download-contain:before {
  content: "`";
}
.icon-draw:before {
  content: "{";
}
.icon-edit:before {
  content: "|";
}
.icon-edit-call:before {
  content: "}";
}
.icon-email:before {
  content: "~";
}
.icon-emoticons:before {
  content: "\\";
}
.icon-endpoint:before {
  content: "\e000";
}
.icon-erasor:before {
  content: "\e001";
}
.icon-error:before {
  content: "\e002";
}
.icon-ethernet:before {
  content: "\e003";
}
.icon-exernal-calendar:before {
  content: "\e004";
}
.icon-exit:before {
  content: "\e005";
}
.icon-exit-contain:before {
  content: "\e006";
}
.icon-exit-outline:before {
  content: "\e007";
}
.icon-export:before {
  content: "\e008";
}
.icon-extension-mobility:before {
  content: "\e009";
}
.icon-fbw:before {
  content: "\e00a";
}
.icon-feedback:before {
  content: "\e00b";
}
.icon-feedback-clear:before {
  content: "\e00c";
}
.icon-feedback-result:before {
  content: "\e00d";
}
.icon-ffw:before {
  content: "\e00e";
}
.icon-filter:before {
  content: "\e00f";
}
.icon-flagged:before {
  content: "\e010";
}
.icon-folder:before {
  content: "\e011";
}
.icon-forced-sign-in:before {
  content: "\e012";
}
.icon-forward-to-mobility:before {
  content: "\e013";
}
.icon-fullscreen:before {
  content: "\e014";
}
.icon-general-source:before {
  content: "\e015";
}
.icon-general-source-cross:before {
  content: "\e016";
}
.icon-graph:before {
  content: "\e017";
}
.icon-ground:before {
  content: "\e018";
}
.icon-group-call:before {
  content: "\e019";
}
.icon-headset:before {
  content: "\e01a";
}
.icon-headset-cross:before {
  content: "\e01b";
}
.icon-help:before {
  content: "\e01c";
}
.icon-help-outline:before {
  content: "\e01d";
}
.icon-highlight-line:before {
  content: "\e01e";
}
.icon-highlighter:before {
  content: "\e01f";
}
.icon-highlighter-check:before {
  content: "\e020";
}
.icon-home:before {
  content: "\e021";
}
.icon-hue:before {
  content: "\e022";
}
.icon-hunt-group:before {
  content: "\e023";
}
.icon-idefix:before {
  content: "\e024";
}
.icon-image:before {
  content: "\e025";
}
.icon-image-1:before {
  content: "\e026";
}
.icon-import:before {
  content: "\e027";
}
.icon-inbox:before {
  content: "\e028";
}
.icon-incoming-call:before {
  content: "\e029";
}
.icon-info:before {
  content: "\e02a";
}
.icon-info-outline:before {
  content: "\e02b";
}
.icon-instant-meeting:before {
  content: "\e02c";
}
.icon-intercom:before {
  content: "\e02d";
}
.icon-intercom-duplex-connected:before {
  content: "\e02e";
}
.icon-intercom-whisper:before {
  content: "\e02f";
}
.icon-invite:before {
  content: "\e030";
}
.icon-key-expansion-module:before {
  content: "\e031";
}
.icon-keyboard:before {
  content: "\e032";
}
.icon-keywords:before {
  content: "\e033";
}
.icon-language:before {
  content: "\e034";
}
.icon-laser-pointer:before {
  content: "\e035";
}
.icon-layout:before {
  content: "\e036";
}
.icon-leave-meeting:before {
  content: "\e037";
}
.icon-left-arrow:before {
  content: "\e038";
}
.icon-lightbulb:before {
  content: "\e039";
}
.icon-like:before {
  content: "\e03a";
}
.icon-line-out-left:before {
  content: "\e03b";
}
.icon-line-out-right:before {
  content: "\e03c";
}
.icon-link:before {
  content: "\e03d";
}
.icon-list-menu:before {
  content: "\e03e";
}
.icon-list-view:before {
  content: "\e03f";
}
.icon-location:before {
  content: "\e040";
}
.icon-lock:before {
  content: "\e041";
}
.icon-lock-contain:before {
  content: "\e042";
}
.icon-locked-speaker:before {
  content: "\e043";
}
.icon-manage-cable:before {
  content: "\e044";
}
.icon-maximize:before {
  content: "\e045";
}
.icon-media-viewer:before {
  content: "\e046";
}
.icon-meet-me:before {
  content: "\e047";
}
.icon-meeting-room:before {
  content: "\e048";
}
.icon-merge-call:before {
  content: "\e049";
}
.icon-message:before {
  content: "\e04a";
}
.icon-mic-in:before {
  content: "\e04b";
}
.icon-micro-blog:before {
  content: "\e04c";
}
.icon-microphone:before {
  content: "\e04d";
}
.icon-minimize:before {
  content: "\e04e";
}
.icon-missed-call:before {
  content: "\e04f";
}
.icon-mobile-phone:before {
  content: "\e050";
}
.icon-mobile-presenter:before {
  content: "\e051";
}
.icon-month:before {
  content: "\e052";
}
.icon-more:before {
  content: "\e053";
}
.icon-move-page:before {
  content: "\e054";
}
.icon-multi-display:before {
  content: "\e055";
}
.icon-music:before {
  content: "\e056";
}
.icon-mute:before {
  content: "\e057";
}
.icon-no-signal:before {
  content: "\e058";
}
.icon-notebook-in:before {
  content: "\e059";
}
.icon-notes:before {
  content: "\e05a";
}
.icon-numbered-input:before {
  content: "\e05b";
}
.icon-numbered-output:before {
  content: "\e05c";
}
.icon-off-hook:before {
  content: "\e05d";
}
.icon-other-phone:before {
  content: "\e05e";
}
.icon-outbox:before {
  content: "\e05f";
}
.icon-outgoing-call:before {
  content: "\e060";
}
.icon-panel-shift-left:before {
  content: "\e061";
}
.icon-panel-shift-right:before {
  content: "\e062";
}
.icon-parked:before {
  content: "\e063";
}
.icon-participant-list:before {
  content: "\e064";
}
.icon-pass-mouse:before {
  content: "\e065";
}
.icon-pause:before {
  content: "\e066";
}
.icon-pc:before {
  content: "\e067";
}
.icon-pencil:before {
  content: "\e068";
}
.icon-persistent-chat:before {
  content: "\e069";
}
.icon-phone:before {
  content: "\e06a";
}
.icon-phone-cross:before {
  content: "\e06b";
}
.icon-picture-in-picture:before {
  content: "\e06c";
}
.icon-pin:before {
  content: "\e06d";
}
.icon-play:before {
  content: "\e06e";
}
.icon-play-contained:before {
  content: "\e06f";
}
.icon-playlist:before {
  content: "\e070";
}
.icon-plugin:before {
  content: "\e071";
}
.icon-point:before {
  content: "\e072";
}
.icon-poll:before {
  content: "\e073";
}
.icon-popout:before {
  content: "\e074";
}
.icon-popup-dialogue:before {
  content: "\e075";
}
.icon-power:before {
  content: "\e076";
}
.icon-power-contain:before {
  content: "\e077";
}
.icon-presentation:before {
  content: "\e078";
}
.icon-prevent-download:before {
  content: "\e079";
}
.icon-prevent-download-contain:before {
  content: "\e07a";
}
.icon-print:before {
  content: "\e07b";
}
.icon-priority:before {
  content: "\e07c";
}
.icon-privacy:before {
  content: "\e07d";
}
.icon-private:before {
  content: "\e07e";
}
.icon-profile-settings:before {
  content: "\e07f";
}
.icon-proximity:before {
  content: "\e080";
}
.icon-proximity-not-connected:before {
  content: "\e081";
}
.icon-quality:before {
  content: "\e082";
}
.icon-question-circle:before {
  content: "\e083";
}
.icon-raise-hand:before {
  content: "\e084";
}
.icon-read-email:before {
  content: "\e085";
}
.icon-recent-apps:before {
  content: "\e086";
}
.icon-record:before {
  content: "\e087";
}
.icon-redial:before {
  content: "\e088";
}
.icon-refresh:before {
  content: "\e089";
}
.icon-remove:before {
  content: "\e08a";
}
.icon-remove-contact:before {
  content: "\e08b";
}
.icon-remove-contain:before {
  content: "\e08c";
}
.icon-remove-outline:before {
  content: "\e08d";
}
.icon-reply-all:before {
  content: "\e08e";
}
.icon-report:before {
  content: "\e08f";
}
.icon-reset:before {
  content: "\e090";
}
.icon-right-arrow:before {
  content: "\e091";
}
.icon-right-arrow-closed-contained:before {
  content: "\e092";
}
.icon-right-arrow-closed-outline:before {
  content: "\e093";
}
.icon-right-arrow-contain:before {
  content: "\e094";
}
.icon-right-arrow-contained:before {
  content: "\e095";
}
.icon-right-arrow-outline:before {
  content: "\e096";
}
.icon-ringer-settings:before {
  content: "\e097";
}
.icon-rotate-object-ccw:before {
  content: "\e098";
}
.icon-rotate-object-cw:before {
  content: "\e099";
}
.icon-rtprx:before {
  content: "\e09a";
}
.icon-rtprx-rtptx-duplex:before {
  content: "\e09b";
}
.icon-rtptx:before {
  content: "\e09c";
}
.icon-running-application:before {
  content: "\e09d";
}
.icon-save:before {
  content: "\e09e";
}
.icon-schedule-add:before {
  content: "\e09f";
}
.icon-screen-capture:before {
  content: "\e0a0";
}
.icon-screen-capture-square:before {
  content: "\e0a1";
}
.icon-sd:before {
  content: "\e0a2";
}
.icon-search:before {
  content: "\e0a3";
}
.icon-self-view:before {
  content: "\e0a4";
}
.icon-self-view-alt:before {
  content: "\e0a5";
}
.icon-self-view-crossed:before {
  content: "\e0a6";
}
.icon-send:before {
  content: "\e0a7";
}
.icon-send-email:before {
  content: "\e0a8";
}
.icon-sent:before {
  content: "\e0a9";
}
.icon-setup-assistant:before {
  content: "\e0aa";
}
.icon-share:before {
  content: "\e0ab";
}
.icon-share-contain:before {
  content: "\e0ac";
}
.icon-share-content:before {
  content: "\e0ad";
}
.icon-sign-in:before {
  content: "\e0ae";
}
.icon-sign-out:before {
  content: "\e0af";
}
.icon-signal-1:before {
  content: "\e0b0";
}
.icon-signal-2:before {
  content: "\e0b1";
}
.icon-signal-3:before {
  content: "\e0b2";
}
.icon-signal-4:before {
  content: "\e0b3";
}
.icon-skip-bw:before {
  content: "\e0b4";
}
.icon-skip-fw:before {
  content: "\e0b5";
}
.icon-slides:before {
  content: "\e0b6";
}
.icon-soft-phone:before {
  content: "\e0b7";
}
.icon-sound:before {
  content: "\e0b8";
}
.icon-space:before {
  content: "\e0b9";
}
.icon-spam:before {
  content: "\e0ba";
}
.icon-spark:before {
  content: "\e0bb";
}
.icon-speaker:before {
  content: "\e0bc";
}
.icon-speaker-cross:before {
  content: "\e0bd";
}
.icon-speaker-out-left:before {
  content: "\e0be";
}
.icon-speed-dial:before {
  content: "\e0bf";
}
.icon-star:before {
  content: "\e0c0";
}
.icon-stop:before {
  content: "\e0c1";
}
.icon-storage:before {
  content: "\e0c2";
}
.icon-subscribe:before {
  content: "\e0c3";
}
.icon-swap-calls:before {
  content: "\e0c4";
}
.icon-swap-camera:before {
  content: "\e0c5";
}
.icon-swap-video-camera:before {
  content: "\e0c6";
}
.icon-tables:before {
  content: "\e0c7";
}
.icon-tablet:before {
  content: "\e0c8";
}
.icon-text:before {
  content: "\e0c9";
}
.icon-text-color:before {
  content: "\e0ca";
}
.icon-text-format:before {
  content: "\e0cb";
}
.icon-text-size:before {
  content: "\e0cc";
}
.icon-thumbnail-view:before {
  content: "\e0cd";
}
.icon-time:before {
  content: "\e0ce";
}
.icon-timeline:before {
  content: "\e0cf";
}
.icon-too-fast:before {
  content: "\e0d0";
}
.icon-too-slow:before {
  content: "\e0d1";
}
.icon-tools:before {
  content: "\e0d2";
}
.icon-touch:before {
  content: "\e0d3";
}
.icon-touch-gesture:before {
  content: "\e0d4";
}
.icon-touch-point:before {
  content: "\e0d5";
}
.icon-transcript:before {
  content: "\e0d6";
}
.icon-transfer-to-mobile:before {
  content: "\e0d7";
}
.icon-trash:before {
  content: "\e0d8";
}
.icon-universal-inbox:before {
  content: "\e0d9";
}
.icon-unlock:before {
  content: "\e0da";
}
.icon-upload:before {
  content: "\e0db";
}
.icon-upload-contain:before {
  content: "\e0dc";
}
.icon-usb:before {
  content: "\e0dd";
}
.icon-user:before {
  content: "\e0de";
}
.icon-vibrate:before {
  content: "\e0df";
}
.icon-video:before {
  content: "\e0e0";
}
.icon-video-cross:before {
  content: "\e0e1";
}
.icon-video-input:before {
  content: "\e0e2";
}
.icon-video-layout:before {
  content: "\e0e3";
}
.icon-video-settings:before {
  content: "\e0e4";
}
.icon-video-tips:before {
  content: "\e0e5";
}
.icon-view-feed-dual:before {
  content: "\e0e6";
}
.icon-view-feed-multi:before {
  content: "\e0e7";
}
.icon-view-feed-single:before {
  content: "\e0e8";
}
.icon-view-preview-telepresence:before {
  content: "\e0e9";
}
.icon-view-side-by-side:before {
  content: "\e0ea";
}
.icon-view-stacked:before {
  content: "\e0eb";
}
.icon-voicemail:before {
  content: "\e0ec";
}
.icon-volume:before {
  content: "\e0ed";
}
.icon-volume-cross:before {
  content: "\e0ee";
}
.icon-waiting-silence:before {
  content: "\e0ef";
}
.icon-wallpaper:before {
  content: "\e0f0";
}
.icon-warning:before {
  content: "\e0f1";
}
.icon-watchlist:before {
  content: "\e0f2";
}
.icon-web-camera:before {
  content: "\e0f3";
}
.icon-web-sharing:before {
  content: "\e0f4";
}
.icon-webex:before {
  content: "\e0f5";
}
.icon-webhook:before {
  content: "\e0f6";
}
.icon-week:before {
  content: "\e0f7";
}
.icon-whiteboard:before {
  content: "\e0f8";
}
.icon-whiteboard-cross:before {
  content: "\e0f9";
}
.icon-wifi:before {
  content: "\e0fa";
}
.icon-work:before {
  content: "\e0fb";
}
.icon-zip:before {
  content: "\e0fc";
}
.icon-zoom-in:before {
  content: "\e0fd";
}
.icon-zoom-out:before {
  content: "\e0fe";
}
